<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <title>SinghInderjit</title>
</head>
<main class="container">
    
<body>
    <header>
    <img src="images/myLogo.png" class = "myLogo">

    <ul id="socialmedia">
        <li><a href="https://www.behance.net/inderjitsingh2" target="_blank"><img src="images/behance.png"  class="behance"></a></li>
        <li><a href="https://www.instagram.com/inderjit._.singh/" target="_blank"><img src="images/instagram.png" class="instagram"></a></li>
        <li><a href ="https://www.linkedin.com/in/inderjit-singh-311184198/" target="_blank"><img src="images/linkedin.png"  class="linkedin"></a></li>

    </ul>

    <nav class="mainNav">
        <ul>
    <li><a href="#section1">ABOUT ME</a></li>
    <li><a href="#section3">RECENT WORK</a></li>
    <li><a href="#contactSection">REACH US</a></li>
    </ul>
</nav>
    </header>

    <section id="section1" class="panel">

        
      <div class="my_intro">
         <img src="images/inder_vector.png" alt="avatar" class="my-avatar">
              
             
  
              <h1 id="firstName">INDERJIT</h1> <h1 id="lastName">SINGH</h1>
              <p id="myDescription">Dedicated and Ambitious ready to sharpen my skills as a media designer. I know a plenty of designing and coding skills that you are seeking for. if you want to have your product promoted or want your company website give a hit to the contact panel.<br></p>
              <a href="resumelink.html"><span class="resume-link">CLICK TO SEE RESUME</span></a>
      </div>
      
  
  </section>
  
  <span class="sectionhead">I CAN DO</span>
  
   <section id="section2" class="panel">
      <div class="my_skills">
  
          
          <div class="skill">
  
         <img src="images/advertising.svg" alt="skill" class="my-skills">
              
              <h1 id="Type">Advertising</h1>
              </div>
              <div class="skill">
              <img src="images/coding.svg" alt="skill" class="my-skills">
              
              <h1 id="Type">Coding</h1>
              </div>
              <div class="skill">
              <img src="images/design.svg" alt="skill" class="my-skills">
              
              <h1 id="Type">Design</h1>
              </div>
              
  
      </section>
  
      </div>
      <!---videolightbox-->
          <section id="section3" class="panel">
              <h1 class="sectionhead">SOME OF MY RECENT WORK</h1>
          <div class="lightbox-div"><img src="images/play-button.svg" class="playIcon"></div>
          <h1 id="reelHead">SHOWREEL</h1>
              <p id="reeltext">Click on The Playbutton to see the Reel</p>
          <section class="lightbox">
          <a href="#" class="close-lightbox">X</a>
          <video  class="reel-video" src="video/demoVideo.mp4" type="video/mp4" onended="videoEnded()"></video>
          <section class ="video-controls">
              <i class="fas fa-play"></i>
              <i class="fas fa-pause-circle"></i>
              <i class="fas fa-backward"></i>
              
          </section>
      </section>
  
      <div id="portfolioSection">

        <h1 id="subSect">PORTFOLIO</h1>
            
          <div id="portfolio1"><a href="project1.html">
    <img src="images/anglersLogo.png" class="thumbnail">
  </a> </div>
  <h2 class="portName1">Anglers Redesign</h2>
  


  
  
          <div id="portfolio2"><a href="project2.html">
    <img src="images/couplesResort.png" class="thumbnail">
  </a></div>
  <h2 class="portName2">Couples Resort Redesign</h2>
  
       <div id="portfolio3"><a href="project3.html">
    <img src="images/beerandwine.png" class="thumbnail">
  </a></div>
  <h2 class="portName3">Wine Mashup</h2>
  
   <div id="portfolio4"><a href="project4.html">
    <img src="images/orgenLogo.png" class="thumbnail">
  </a></div>
  <h2 class="portName4">orGEN LOGO</h2>
  
   <div id="portfolio5"><a href="project5.html">
    <img src="images/piechart.png" class="thumbnail">
  </a></div>
  <h2 class="portName5">Interactive Poster</h2>
  
   <div id="portfolio6"><a href="project6.html">
    <img src="images/counterDisplay.png" class="thumbnail">
  </a></div>
  <h2 class="portName6">Counter Display Design</h2>
  
  </div>

  
  
      <section id="contactSection" class="panel">
          <h1 class="sectionhead">CONTACT US</h1>
          <form class="contact-form" method="POST" action="/send">
      <label for="name">Name</label>
          <input id="name" type="text" name="name" placeholder="name">
          <label for="email">Email</label>
          <input id="email" type="text" name="email" placeholder="email">
          <label for="subject">Subject</label>
          <input id="subject" type="text" name="subject" placeholder="subject">
          <label for="message">Message</label>
          <textarea id="message" name="message"></textarea>
  
      <button type="submit">SEND</button>
  </form>
  
      </section>



      <footer class="copyright_section"> 
        <h1 class="copyright">Made with Love By @Inderjit Singh</h1>
    </footer>
    </main>
    <script type="module" src="js/main.js"></script>
    
</body>

</html>