.project1{
    width:80%;

}
.projectHead
{
    font-family:helvetica,arial,sans-serif;
    font-size:30px;
    letter-spacing:3px;
    color:#fff;
    background-color:#000;
}

.projectText
{
    font-family:helvetica,arial,sans-serif;
    font-size:20px;
     
}
.fab
{
    width:100px;
    height:100px;
}

.stuffused
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    float:center;
}

.firstPage
{
    width:80%;

}
